<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Clay-SaltoKS Mobile Test Automation Suite " configfailurepolicy="continue">
<listeners>
<!--  <listener class-name="resources.Listeners"/>-->
<listener class-name="com.clay.mobile.testautomation.testreport.ExtentReporterNG"/>
</listeners>
    <test name="Regression">
    
         <classes>
     
          	
       <class name="com.clay.mobile.testautomation.testsuite.SaltoKSCreateUser"/>
        <class name="com.clay.mobile.testautomation.testsuite.SaltoKSLockEnableEOM"/>
         
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
